Middleware-Module/ESB-Module/Lodging-Proxy-Services/src/main/resources/service_contracts/Lodging.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://touresbalon.com.co/task/lodging/v1"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns2="http://touresbalon.com.co/model/lodging/schema/v1"
                  xmlns:ns1="http://touresbalon.com.co/task/lodging/schema/v1" name="LodgingServiceService"
                  targetNamespace="http://touresbalon.com.co/task/lodging/v1">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:ns1="http://touresbalon.com.co/model/lodging/schema/v1"
                   targetNamespace="http://touresbalon.com.co/task/lodging/v1" version="1.0">

            <xs:import namespace="http://touresbalon.com.co/model/lodging/schema/v1"/>

            <xs:complexType name="getReservationReq_type">
                <xs:sequence>
                    <xs:element name="reservationId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getReservationRes_type">
                <xs:sequence>
                    <xs:element ref="ns1:touresBalonReservation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="availabilityReq_type">
                <xs:sequence>
                    <xs:element name="hotelBrand" type="xs:string"/>
                    <xs:element name="checkIn" type="xs:date"/>
                    <xs:element name="checkOut" type="xs:date"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="guestName" type="xs:string" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="availabilityRes_type">
                <xs:sequence>
                    <xs:element ref="ns1:room"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="confirmReservationReq_type">
                <xs:sequence>
                    <xs:element name="reservationId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="confirmReservationRes_type">
                <xs:sequence>
                    <xs:element ref="ns1:GeneralResponse"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doReservationReq_type">
                <xs:sequence>
                    <xs:element name="orderId" type="xs:long"/>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="room" type="xs:long"/>
                    <xs:element name="guestName" type="xs:string"/>
                    <xs:element name="checkIn" type="xs:date"/>
                    <xs:element name="checkOut" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doReservationRes_type">
                <xs:sequence>
                    <xs:element ref="ns1:touresBalonReservation"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="cancelReservationReq_type">
                <xs:sequence>
                    <xs:element name="reservationId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="cancelReservationRes_type">
                <xs:sequence>
                    <xs:element ref="ns1:GeneralResponse"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://touresbalon.com.co/task/lodging/v1"
                   xmlns:ns1="http://touresbalon.com.co/model/lodging/schema/v1"
                   targetNamespace="http://touresbalon.com.co/task/lodging/schema/v1" version="1.0">

            <xs:import namespace="http://touresbalon.com.co/model/lodging/schema/v1"/>

            <xs:import namespace="http://touresbalon.com.co/task/lodging/v1"/>

            <xs:element name="availabilityRequest" type="ns2:availabilityReq_type"/>

            <xs:element name="availabilityResponse" type="ns2:availabilityRes_type"/>

            <xs:element name="cancelReservationRequest" type="ns2:cancelReservationReq_type"/>

            <xs:element name="cancelReservationResponse" type="ns2:cancelReservationRes_type"/>

            <xs:element name="confirmReservationRequest" type="ns2:confirmReservationReq_type"/>

            <xs:element name="confirmReservationResponse" type="ns2:confirmReservationRes_type"/>

            <xs:element name="doReservationRequest" type="ns2:doReservationReq_type"/>

            <xs:element name="doReservationResponse" type="ns2:doReservationRes_type"/>

            <xs:element name="getReservationRequest" type="ns2:getReservationReq_type"/>

            <xs:element name="getReservationResponse" type="ns2:getReservationRes_type"/>

        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://touresbalon.com.co/model/lodging/schema/v1"
                   targetNamespace="http://touresbalon.com.co/model/lodging/schema/v1" version="1.0">

            <xs:element name="BusinessFault">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:CanonicalFault">
                            <xs:sequence/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="EvaluationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="result" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="GeneralResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="message" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SystemFault">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="tns:CanonicalFault">
                            <xs:sequence/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>

            <xs:element name="hotel" type="tns:Hotel"/>

            <xs:element name="room" type="tns:Room"/>

            <xs:element name="touresBalonReservation" type="tns:TouresBalonReservation"/>

            <xs:complexType name="TouresBalonReservation">
                <xs:sequence>
                    <xs:element name="reservationId" type="xs:long"/>
                    <xs:element name="checkIn" type="xs:date"/>
                    <xs:element name="checkOut" type="xs:date"/>
                    <xs:element name="state" type="xs:long"/>
                    <xs:element name="guestName" type="xs:string"/>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="roomNumber" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="CanonicalFault">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Room">
                <xs:sequence>
                    <xs:element name="roomNumber" type="xs:long"/>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="reservationId" type="xs:long" />
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="price" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Room_List">
                <xs:sequence>
                    <xs:element form="qualified" maxOccurs="unbounded" name="room" type="tns:Room"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="Hotel">
                <xs:sequence>
                    <xs:element name="hotelId" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                    <xs:element name="brand" type="xs:string"/>
                    <xs:element name="city" type="xs:string"/>
                    <xs:element name="country" type="xs:string"/>
                    <xs:element name="rooms" type="tns:Room_List"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="doReservationResponse">
        <wsdl:part element="ns1:doReservationResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmReservationResponse">
        <wsdl:part element="ns1:confirmReservationResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultRoomsAvailability">
        <wsdl:part element="ns1:availabilityRequest" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FaultMsg">
        <wsdl:part element="ns2:SystemFault" name="FaultMsg">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getReservationResponse">
        <wsdl:part element="ns1:getReservationResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getReservation">
        <wsdl:part element="ns1:getReservationRequest" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelReservationResponse">
        <wsdl:part element="ns1:cancelReservationResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="doReservation">
        <wsdl:part element="ns1:doReservationRequest" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultRoomsAvailabilityResponse">
        <wsdl:part element="ns1:availabilityResponse" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmReservation">
        <wsdl:part element="ns1:confirmReservationRequest" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelReservation">
        <wsdl:part element="ns1:cancelReservationRequest" name="body">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LodgingPort">
        <wsdl:operation name="getReservation">
            <wsdl:input message="tns:getReservation" name="getReservation">
            </wsdl:input>
            <wsdl:output message="tns:getReservationResponse" name="getReservationResponse">
            </wsdl:output>
            <wsdl:fault message="tns:FaultMsg" name="FaultMsg">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="consultRoomsAvailability">
            <wsdl:input message="tns:consultRoomsAvailability" name="consultRoomsAvailability">
            </wsdl:input>
            <wsdl:output message="tns:consultRoomsAvailabilityResponse" name="consultRoomsAvailabilityResponse">
            </wsdl:output>
            <wsdl:fault message="tns:FaultMsg" name="FaultMsg">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmReservation">
            <wsdl:input message="tns:confirmReservation" name="confirmReservation">
            </wsdl:input>
            <wsdl:output message="tns:confirmReservationResponse" name="confirmReservationResponse">
            </wsdl:output>
            <wsdl:fault message="tns:FaultMsg" name="FaultMsg">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doReservation">
            <wsdl:input message="tns:doReservation" name="doReservation">
            </wsdl:input>
            <wsdl:output message="tns:doReservationResponse" name="doReservationResponse">
            </wsdl:output>
            <wsdl:fault message="tns:FaultMsg" name="FaultMsg">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <wsdl:input message="tns:cancelReservation" name="cancelReservation">
            </wsdl:input>
            <wsdl:output message="tns:cancelReservationResponse" name="cancelReservationResponse">
            </wsdl:output>
            <wsdl:fault message="tns:FaultMsg" name="FaultMsg">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LodgingServiceServiceSoapBinding" type="tns:LodgingPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultRoomsAvailability">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultRoomsAvailability">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultRoomsAvailabilityResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultMsg">
                <soap:fault name="FaultMsg" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getReservation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getReservation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultMsg">
                <soap:fault name="FaultMsg" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="confirmReservation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="confirmReservation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="confirmReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultMsg">
                <soap:fault name="FaultMsg" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="cancelReservation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="cancelReservation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="cancelReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultMsg">
                <soap:fault name="FaultMsg" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="doReservation">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="doReservation">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="doReservationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="FaultMsg">
                <soap:fault name="FaultMsg" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LodgingServiceService">
        <wsdl:port binding="tns:LodgingServiceServiceSoapBinding" name="LodgingPortPort">
            <soap:address location="http://localhost:8080/Lodging-Services-1.0-SNAPSHOT/LodgingService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>