Middleware-Module/BPEL-Module/Create-Orders-BPEL/bpelContent/wsdl/LodgingService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://touresbalon.com.co/task/lodging/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://touresbalon.com.co/model/lodging/schema/v1"
	name="LodgingServiceService" targetNamespace="http://touresbalon.com.co/task/lodging/v1">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://touresbalon.com.co/task/lodging/v1" xmlns:ns1="http://touresbalon.com.co/model/lodging/schema/v1"
			elementFormDefault="unqualified" targetNamespace="http://touresbalon.com.co/task/lodging/v1"
			version="1.0">

			<xs:import namespace="http://touresbalon.com.co/model/lodging/schema/v1" />

			<xs:element name="cancelReservation" type="tns:cancelReservation" />

			<xs:element name="cancelReservationResponse" type="tns:cancelReservationResponse" />

			<xs:element name="confirmReservation" type="tns:confirmReservation" />

			<xs:element name="confirmReservationResponse" type="tns:confirmReservationResponse" />

			<xs:element name="consultRoomsAvailability" type="tns:consultRoomsAvailability" />

			<xs:element name="consultRoomsAvailabilityResponse" type="tns:consultRoomsAvailabilityResponse" />

			<xs:element name="doReservation" type="tns:doReservation" />

			<xs:element name="doReservationResponse" type="tns:doReservationResponse" />

			<xs:element name="getReservation" type="tns:getReservation" />

			<xs:element name="getReservationResponse" type="tns:getReservationResponse" />

			<xs:complexType name="getReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="getReservationRequest"
						type="tns:getReservationReq_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getReservationReq_type">
				<xs:sequence>
					<xs:element name="reservationId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:getReservationRes_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getReservationRes_type">
				<xs:sequence>
					<xs:element ref="ns1:touresBalonReservation" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="consultRoomsAvailability">
				<xs:sequence>
					<xs:element minOccurs="0" name="availabilityRequest"
						type="tns:availabilityReq_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="availabilityReq_type">
				<xs:sequence>
					<xs:element name="hotelBrand" type="xs:string" />
					<xs:element name="checkIn" type="xs:date" />
					<xs:element name="checkOut" type="xs:date" />
					<xs:element name="city" type="xs:string" />
					<xs:element name="guestName" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="consultRoomsAvailabilityResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:availabilityRes_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="availabilityRes_type">
				<xs:sequence>
					<xs:element ref="ns1:room" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="confirmReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="confirmReservationRequest"
						type="tns:confirmReservationReq_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="confirmReservationReq_type">
				<xs:sequence>
					<xs:element name="reservationId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="confirmReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:confirmReservationRes_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="confirmReservationRes_type">
				<xs:sequence>
					<xs:element ref="ns1:GeneralResponse" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="doReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="doReservationRequest"
						type="tns:doReservationReq_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="doReservationReq_type">
				<xs:sequence>
					<xs:element name="hotelId" type="xs:long" />
					<xs:element name="room" type="xs:long" />
					<xs:element name="guestName" type="xs:string" />
					<xs:element name="checkIn" type="xs:date" />
					<xs:element name="checkOut" type="xs:date" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="doReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:doReservationRes_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="doReservationRes_type">
				<xs:sequence>
					<xs:element ref="ns1:touresBalonReservation" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="cancelReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="cancelReservationRequest"
						type="tns:cancelReservationReq_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="cancelReservationReq_type">
				<xs:sequence>
					<xs:element name="reservationId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="cancelReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:cancelReservationRes_type" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="cancelReservationRes_type">
				<xs:sequence>
					<xs:element ref="ns1:GeneralResponse" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://touresbalon.com.co/model/lodging/schema/v1"
			targetNamespace="http://touresbalon.com.co/model/lodging/schema/v1"
			version="1.0">

			<xs:element name="BusinessFault">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:CanonicalFault">
							<xs:sequence />
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>

			<xs:element name="GeneralResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="SystemFault">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="tns:CanonicalFault">
							<xs:sequence />
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>

			<xs:element name="room" type="tns:Room" />

			<xs:element name="touresBalonReservation" type="tns:TouresBalonReservation" />

			<xs:complexType name="TouresBalonReservation">
				<xs:sequence>
					<xs:element name="reservationId" type="xs:long" />
					<xs:element name="checkIn" type="xs:date" />
					<xs:element name="checkOut" type="xs:date" />
					<xs:element name="state" type="xs:long" />
					<xs:element name="guestName" type="xs:string" />
					<xs:element name="hotelId" type="xs:long" />
					<xs:element name="roomNumber" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CanonicalFault">
				<xs:sequence>
					<xs:element name="code" type="xs:string" />
					<xs:element name="description" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Room">
				<xs:sequence>
					<xs:element name="roomNumber" type="xs:long" />
					<xs:element name="hotelId" type="xs:long" />
					<xs:element name="type" type="xs:string" />
					<xs:element name="price" type="xs:string" />
					<xs:element name="reservationId" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="doReservationResponse">
		<wsdl:part element="tns:doReservationResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="confirmReservationResponse">
		<wsdl:part element="tns:confirmReservationResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="consultRoomsAvailability">
		<wsdl:part element="tns:consultRoomsAvailability" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FaultMsg">
		<wsdl:part element="ns1:SystemFault" name="FaultMsg">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReservationResponse">
		<wsdl:part element="tns:getReservationResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getReservation">
		<wsdl:part element="tns:getReservation" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelReservationResponse">
		<wsdl:part element="tns:cancelReservationResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="doReservation">
		<wsdl:part element="tns:doReservation" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="consultRoomsAvailabilityResponse">
		<wsdl:part element="tns:consultRoomsAvailabilityResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="confirmReservation">
		<wsdl:part element="tns:confirmReservation" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelReservation">
		<wsdl:part element="tns:cancelReservation" name="parameters">
		</wsdl:part>
	</wsdl:message>


	<plnk:partnerLinkType name="LodgingWS_PLT">
		<plnk:role name="LodgingWS_Role" portType="tns:LodgingPort" />
	</plnk:partnerLinkType>

	<wsdl:portType name="LodgingPort">
		<wsdl:operation name="getReservation">
			<wsdl:input message="tns:getReservation" name="getReservation">
			</wsdl:input>
			<wsdl:output message="tns:getReservationResponse" name="getReservationResponse">
			</wsdl:output>
			<wsdl:fault message="tns:FaultMsg" name="FaultMsg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="consultRoomsAvailability">
			<wsdl:input message="tns:consultRoomsAvailability" name="consultRoomsAvailability">
			</wsdl:input>
			<wsdl:output message="tns:consultRoomsAvailabilityResponse"
				name="consultRoomsAvailabilityResponse">
			</wsdl:output>
			<wsdl:fault message="tns:FaultMsg" name="FaultMsg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="confirmReservation">
			<wsdl:input message="tns:confirmReservation" name="confirmReservation">
			</wsdl:input>
			<wsdl:output message="tns:confirmReservationResponse"
				name="confirmReservationResponse">
			</wsdl:output>
			<wsdl:fault message="tns:FaultMsg" name="FaultMsg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="doReservation">
			<wsdl:input message="tns:doReservation" name="doReservation">
			</wsdl:input>
			<wsdl:output message="tns:doReservationResponse" name="doReservationResponse">
			</wsdl:output>
			<wsdl:fault message="tns:FaultMsg" name="FaultMsg">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<wsdl:input message="tns:cancelReservation" name="cancelReservation">
			</wsdl:input>
			<wsdl:output message="tns:cancelReservationResponse"
				name="cancelReservationResponse">
			</wsdl:output>
			<wsdl:fault message="tns:FaultMsg" name="FaultMsg">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LodgingServiceServiceSoapBinding"
		type="tns:LodgingPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="consultRoomsAvailability">
			<soap:operation soapAction="consultRoomsAvailability"
				style="document" />
			<wsdl:input name="consultRoomsAvailability">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="consultRoomsAvailabilityResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="FaultMsg">
				<soap:fault name="FaultMsg" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getReservation">
			<soap:operation soapAction="getReservation" style="document" />
			<wsdl:input name="getReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="FaultMsg">
				<soap:fault name="FaultMsg" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="confirmReservation">
			<soap:operation soapAction="confirmReservation" style="document" />
			<wsdl:input name="confirmReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="confirmReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="FaultMsg">
				<soap:fault name="FaultMsg" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<soap:operation soapAction="cancelReservation" style="document" />
			<wsdl:input name="cancelReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="cancelReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="FaultMsg">
				<soap:fault name="FaultMsg" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="doReservation">
			<soap:operation soapAction="doReservation" style="document" />
			<wsdl:input name="doReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="doReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="FaultMsg">
				<soap:fault name="FaultMsg" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LodgingServiceService">
		<wsdl:port binding="tns:LodgingServiceServiceSoapBinding"
			name="LodgingPortPort">
			<soap:address
				location="http://192.168.1.35:9090/Lodging-Services-1.0-SNAPSHOT/LodgingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>