Middleware-Module/BPEL-Module/Create-Orders-BPEL/bpelContent/wsdl/SalesOrderApprovalTaskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ClaimApproval"
	targetNamespace="http://touresbalon.com.co/salesorder/service/utility/1.0.0"
	xmlns:tns="http://touresbalon.com.co/salesorder/service/utility/1.0.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tschema="http://touresbalon.com.co/salesorder/schema/utility/1.0.0"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
	<wsdl:documentation>
		Example for WS-HumanTask 1.1 - WS-HumanTask Task
		Interface Definition
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://touresbalon.com.co/salesorder/schema/utility/1.0.0"
			xmlns:tns="http://touresbalon.com.co/salesorder/schema/utility/1.0.0"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

			<xsd:element name="ClaimApprovalData" type="tns:ClaimApprovalDataType" />

			<xsd:complexType name="ClaimApprovalDataType">
				<xsd:sequence>
					<xsd:element name="order">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="id" type="xsd:string" />
								<xsd:element name="custDocumentNumber" type="xsd:string" />
								<xsd:element name="custDocumentType" type="xsd:string" />
								<xsd:element name="customerType" type="xsd:string" />
								<xsd:element name="custom" type="xsd:string" />
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="priority" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="ClaimApprovalResponse" type="tns:ClaimApprovalResponseType"></xsd:element>

			<xsd:complexType name="ClaimApprovalResponseType">
				<xsd:sequence>
					<xsd:element name="approved" type="xsd:boolean"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ClaimApprovalRequest">
		<wsdl:part name="ClaimApprovalRequest" element="tschema:ClaimApprovalData" />
	</wsdl:message>

	<wsdl:message name="ClaimApprovalResponse">
		<wsdl:part name="ClaimApprovalResponse" element="tschema:ClaimApprovalResponse" />
	</wsdl:message>

	<plnk:partnerLinkType name="b4pPartnerLinkType">
		<plnk:role name="remoteRole" portType="tns:ClaimsHandlingPT" />
		<plnk:role name="localRol" portType="tns:ClaimsHandlingCallbackPT" />
	</plnk:partnerLinkType>

	<wsdl:portType name="ClaimsHandlingPT">
		<wsdl:operation name="approve">
			<wsdl:input message="tns:ClaimApprovalRequest" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="ClaimsHandlingCallbackPT">
		<wsdl:operation name="approvalResponse">
			<wsdl:input message="tns:ClaimApprovalResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ClaimSoapBinding" type="tns:ClaimsHandlingPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approve">
			<soap:operation soapAction="urn:approve" style="document" />
			<wsdl:input>
				<soap:body use="literal"
					namespace="http://touresbalon.com.co/salesorder/service/utility/1.0.0" />
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ClaimSoapBindingCB" type="tns:ClaimsHandlingCallbackPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="approvalResponse">
			<soap:operation soapAction="urn:approvalResponse"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ClaimService">
		<wsdl:port name="ClaimPort" binding="tns:ClaimSoapBinding">
			<soap:address
				location="https://localhost:9446/services/ClaimService.ClaimServicehttpsClaimSoapBindingEndpoint/" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="ClaimServiceCB">
		<wsdl:port name="ClaimPortCB" binding="tns:ClaimSoapBindingCB">
			<soap:address
				location="http://localhost:9766/services/ClaimService.ClaimServicehttpClaimSoapBindingEndpoint/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>