Middleware-Module/BPEL-Module/Create-Orders-BPEL/bpelContent/TransportWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://touresbalon.com.co/transport/service/task/1.0.0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="TransportWSService"
	targetNamespace="http://touresbalon.com.co/transport/service/task/1.0.0">
	<wsdl:types>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://touresbalon.com.co/transport/service/task/1.0.0"
			elementFormDefault="unqualified"
			targetNamespace="http://touresbalon.com.co/transport/service/task/1.0.0"
			version="1.0">

			<xs:element name="cancelReservation" type="tns:cancelReservation" />
			<xs:element name="confirmTravel" type="tns:confirmTravel" />
			<xs:element name="generateReservation" type="tns:generateReservation" />
			<xs:element name="generateReservationResponse" type="tns:generateReservationResponse" />
			<xs:element name="reservationResponseMessage" type="tns:reservationResponseMessage" />

			<xs:element name="confirmations" type="tns:travelConfirmation"/>

			<xs:complexType name="confirmTravel">
				<xs:sequence>
					<xs:element minOccurs="0" name="orderId" type="xs:long" />
					<xs:element maxOccurs="unbounded"
                                minOccurs="0"
                                ref="tns:confirmations"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="travelConfirmation">
				<xs:sequence>
					<xs:element minOccurs="0" name="chairNumber" type="xs:string" />
					<xs:element minOccurs="0" name="firstName" type="xs:string" />
					<xs:element minOccurs="0" name="lastName" type="xs:string" />
					<xs:element minOccurs="0" name="outDate" type="xs:dateTime" />
					<xs:element minOccurs="0" name="provider" type="tns:travelProvider" />
					<xs:element minOccurs="0" name="travelNumber" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="generateReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="request"
						type="tns:reservationRequestMessage" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reservationRequestMessage">
				<xs:sequence>
					<xs:element minOccurs="0" name="date" type="xs:dateTime" />
					<xs:element minOccurs="0" name="provider" type="tns:travelProvider" />
					<xs:element minOccurs="0" name="sourceCity" type="xs:string" />
					<xs:element minOccurs="0" name="targetCity" type="xs:string" />
					<xs:element minOccurs="0" name="time" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="generateReservationResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:reservationResponseMessage" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reservationResponseMessage">
				<xs:sequence>
					<xs:element name="available" nillable="true" type="xs:boolean" />
					<xs:element minOccurs="0" name="description" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="travelNumber" nillable="true"
						type="xs:string" />
					<xs:element minOccurs="0" name="chairNumber" nillable="true"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cancelReservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="reservation" type="tns:reservation" />
					<xs:element minOccurs="0" name="travelDate" type="xs:dateTime" />
					<xs:element minOccurs="0" name="provider" type="tns:travelProvider" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="reservation">
				<xs:sequence>
					<xs:element minOccurs="0" name="chairNumber" type="xs:string" />
					<xs:element minOccurs="0" name="outTime" type="xs:string" />
					<xs:element minOccurs="0" name="sourceCity" type="xs:string" />
					<xs:element minOccurs="0" name="targetCity" type="xs:string" />
					<xs:element minOccurs="0" name="travelNumber" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="travelProvider">
				<xs:restriction base="xs:string">
					<xs:enumeration value="BOLIVARIANO" />
					<xs:enumeration value="AVIANCA" />
					<xs:enumeration value="AMERICAN_AIRLINES" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="generateReservation">
		<wsdl:part element="tns:generateReservation" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="cancelReservation">
		<wsdl:part element="tns:cancelReservation" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateReservationResponse">
		<wsdl:part element="tns:generateReservationResponse" name="parameters"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="confirmTravel">
		<wsdl:part element="tns:confirmTravel" name="parameters"></wsdl:part>
	</wsdl:message>

	<plnk:partnerLinkType name="TransportWS_PLT">
		<plnk:role name="TransportWS_Role" portType="tns:TransportWS" />
	</plnk:partnerLinkType>

	<wsdl:portType name="TransportWS">
		<wsdl:operation name="confirmTravel">
			<wsdl:input message="tns:confirmTravel" name="confirmTravel"></wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="generateReservation">
			<wsdl:input message="tns:generateReservation" name="generateReservation"></wsdl:input>
			<wsdl:output message="tns:generateReservationResponse"
				name="generateReservationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<wsdl:input message="tns:cancelReservation" name="cancelReservation"></wsdl:input>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TransportWSServiceSoapBinding" type="tns:TransportWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="confirmTravel">
			<soap:operation soapAction="confirmTravel" style="document" />
			<wsdl:input name="confirmTravel">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<soap:operation soapAction="cancelReservation" style="document" />
			<wsdl:input name="cancelReservation">
				<soap:body use="literal" />
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="generateReservation">
			<soap:operation soapAction="generateReservation"
				style="document" />
			<wsdl:input name="generateReservation">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="generateReservationResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TransportWSService">
		<wsdl:port binding="tns:TransportWSServiceSoapBinding" name="TransportWSPort">
			<soap:address location="http://localhost:9090/Transport-Services/TransportWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>